/* 颜色变量 */
// 主题色
$color-theme-primary: rgb(64, 158, 255);
$color-theme-gray: rgb(240,242,245);
$color-theme-black: rgb(60,67,83);
$color-theme-red: rgb(245,108,108);
$color-theme-info: rgb(144,147,153);
$color-theme-success: rgb(103,194,58);
$color-theme-el-gray: #E4E7ED;

/* 行为相关颜色 */
$con-color-primary: #007aff;
$con-color-success: #4cd964;
$con-color-warning: #f0ad4e;
$con-color-error: #dd524d;

/* 文字基本颜色 */
$con-text-color:#333;//基本色
$con-text-color-inverse:#fff;//反色
$con-text-color-grey:#999;//辅助灰色，如加载更多的提示信息
$con-text-color-placeholder: #808080;
$con-text-color-disable:#c0c0c0;

/* 背景颜色 */
$con-bg-color:#ffffff;
$con-bg-color-grey:#f8f8f8;
$con-bg-color-hover:#f1f1f1;//点击状态颜色
$con-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* 边框颜色 */
$con-border-color:#e8e8e8;

/* 尺寸变量 */

/* 文字尺寸 */
$con-font-size-sm:12px;
$con-font-size-nm:13px;
$con-font-size-base:14px;
$con-font-size-lg:16px;

/* 图片尺寸 */
$con-img-size-sm:40px;
$con-img-size-base:52px;
$con-img-size-lg:80px;

/* Border Radius */
$con-border-radius-sm: 4px;
$con-border-radius-base: 6px;
$con-border-radius-lg: 12px;
$con-border-radius-circle: 50%;

/* 水平间距 */
$con-spacing-row-sm: 10px;
$con-spacing-row-base: 20px;
$con-spacing-row-lg: 30px;

/* 垂直间距 */
$con-spacing-col-sm: 8px;
$con-spacing-col-base: 16px;
$con-spacing-col-lg: 24px;

/* 透明度 */
$con-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$con-color-title: #2C405A; // 文章标题颜色
$con-font-size-title:40px;
$con-color-subtitle: #555555; // 二级标题颜色
$con-font-size-subtitle:36px;
$con-color-paragraph: #3F536E; // 文章段落颜色
$con-font-size-paragraph:30px;